#!/usr/bin/make -f

define generate_stub
	mkdir -p debian/usr/bin
	echo '#!/bin/sh'                              > debian/usr/bin/$(1)
	echo '/usr/libexec/softether/$(1)/$(1) "$$@"' >> debian/usr/bin/$(1)
	echo 'exit $?'                               >> debian/usr/bin/$(1)
	chmod +x debian/usr/bin/$(1)
endef

export DH_VERBOSE=1
export export CMAKE_INSTALL_PREFIX=../debian/usr

%:
	dh $@

# Build using cmake we install in control file, but in case it fails
# (it's expected if version older than 3.11 at the moment of writing),
# we're instead build cmake 3.11.14, and try to build the package using this newly built cmake binary
# Affected Ubuntu and CMake version it has out of the box: Bionic 3.10.2
override_dh_auto_configure:
	cmake . || { cd debian/cmake && ./bootstrap && make && cd - && debian/cmake/bin/cmake . ;}

override_dh_auto_install:
	dh_auto_install
	./build/vpntest s || echo
	./build/vpntest c || echo
	./build/vpntest b || echo
	$(call generate_stub,vpnserver)
	$(call generate_stub,vpnbridge)
	$(call generate_stub,vpncmd)
	$(call generate_stub,vpnclient)
