#!/usr/bin/make -f

define generate_stub
	mkdir -p debian/usr/bin
	echo '#!/bin/sh'                              > debian/usr/bin/$(1)
	echo '/usr/libexec/softether/$(1)/$(1) "$$@"' >> debian/usr/bin/$(1)
	echo 'exit $?'                               >> debian/usr/bin/$(1)
	chmod +x debian/usr/bin/$(1)
endef

export DH_VERBOSE=1
export export CMAKE_INSTALL_PREFIX=../debian/usr

%:
	dh $@

# build using cmake we install in control file, but in case it fails (it's expected if version older than required),
# we're instead build cmake 3.7.6 (last one without g++11 requirement which is not supported by GCC under 12.04),
# and build the package using this newly built cmake binary
override_dh_auto_configure:
	cmake . || { cd debian/cmake && ./bootstrap && make && cd - && debian/cmake/bin/cmake . ;}

override_dh_auto_install:
	dh_auto_install
	./build/vpntest s || echo
	./build/vpntest c || echo
	./build/vpntest b || echo
	$(call generate_stub,vpnserver)
	$(call generate_stub,vpnbridge)
	$(call generate_stub,vpncmd)
	$(call generate_stub,vpnclient)
